<div class="card border-0 shadow-sm overflow-hidden mb-3">
    <div class="card-header py-3">
        <p class="mb-0">Sponsored Servers</p>
        <p class="mb-0 small text-white-50">
            The best of the best. Even though paid, each server is vetted to 
            assure good quality beforehand.</p>
    </div>

    <div class="list-group list-group-flush">
        {% for sponsor in sponsors %}
        <div class="list-group-item bg-transparent border-0">
            <div class="d-flex align-items-center flex-column flex-lg-row">
                <div class="flex-fill px-4 d-none d-lg-flex" style="color:gold;max-width:80px;">
                    {{ icon('star', 18, 18) }}
                </div>
                <div class="flex-fill" style="max-width: 468px;">
                    <a href="{{ sponsor.website }}">
                        <img
                            src="{{ url('public/img/banner-loading.png') }}" 
                            data-src="{{ banner(sponsor.banner_url) }}"
                            id="banner"
                            alt="{{ sponsor.banner_url }}"
                            class="img-fluid rounded lazy">
                    </a>
                </div>
                <div class="flex-fill text-center">
                    <a class="mb-0" href="">{{ sponsor.title }}</a>
                </div>
            </div>
        </div>
        {% endfor %}

        {% set remaining = (3 - sponsors|length) %}

        {% if remaining > 0 %}
        {% for i in 0..remaining-1 %}
        <div class="list-group-item bg-transparent border-0">
            <div class="d-flex align-items-center flex-column flex-lg-row">
                <div class="flex-fill px-4 d-none d-lg-flex" style="color:gold;max-width:80px;">
                    {{ icon('star', 18, 18) }}
                </div>
                <div class="flex-fill" style="max-width: 468px;">
                    <a href="{{ url('sponsor') }}">
                        <img
                            src="{{ url('public/img/banner-loading.png') }}"
                            id="banner"
                            alt="banner-loading.png"
                            class="img-fluid rounded">
                    </a>
                </div>
                <div class="flex-fill text-center">
                    <a class="mb-0" href="{{ url('sponsor') }}">- Available -</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
